*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  cursor: pointer;
  outline: 0;
  background: none;
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

