@import "../../../sass/variables";

.form-group {
  display: flex;
  flex-direction: column;

  label {
    color: $grey1;
    font-size: 16px;
    margin-bottom: 5px;

    .formbuilder-required {
      color: red;
      padding-left: 5px;
    }
  }
  input {
    color: $grey2;
    border-radius: 10px;
    border: 1px solid #d6d6d6;
    padding: 10px;
    font-size: 16px;
  }
}