@import "../../../sass/variables";

#home {
  h1 {
    font-size: 2rem;
    padding: 1.5rem;
    position: absolute;
  }

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $grey1;
    font-size: 3rem;
  }
}